@use 'base/tokens' as *;

.worker-form__grid {
  display: grid;
  gap: 0 $space-md;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 520px) {
    grid-template-columns: 1fr;
  }
}

.worker-form__span {
  grid-column: 1 / -1;
}
